
#sortable {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  padding: 0;
}

.top-row {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.top-row input {
  margin: 0 .5em 0 .5em;
}

.controls {
  display: flex;
  align-items: center;
}

#sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  font-size: 1.4em;
  height: 18px;
}

#sortable input {
  margin: 0 .3em 0 .3em;
  padding: 5px;
  border-width: 1px;
  border-radius: 5%;
}

input.money {
  width: 8em;
  text-align: right;
}

input.sum {
  color: #424242;
  background-color: #FAFAFA;
}

input.money.positive {
  background-color: #EFFBF5;
}

input.money.negative, input.money.low {
  background-color: #FBEFEF;
}
